/*cards height width*/
.example-card {
  width: 400px;
  height: 110px;
  border:1px solid 	#A9A9A9;
}

.active,.inactive,.summery{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.dashboard_card{
  margin-top: 50px;
}
